---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="light blue smaller freestyle01">
    <div id="layout">
      {% include header.html %}

      <div class="row">
        {% include menu.html %}

        <div class="col c10">
          <h3> Email </h3>
          <p> pascale.andra <b>a.t.</b> gmail <b>d-o-t</b> com </p>
          <h3> Office </h3>
          <p>Visualization And Computer Graphics Lab<br/> 
            Research I, Room 119<br/> 
            Jacobs University Bremen<br/> 
            Campus Ring 1, 28759 Bremen </p>
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
