---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="light blue smaller freestyle01">
    <div id="layout">
      {% include header.html %}

      <div class="row">
        {% include menu.html %}

        <div class="collist c10">
          <img src="images/profile.jpg" alt="" style="float:right;margin:0 20px 0 5px; padding:1px; border: 3px solid #EEE;"/>
          <p>I'm a Software Developer at <a href="http://www.mevis.fraunhofer.de/">Fraunhofer MeVis</a> and a 3rd year PhD student in the 
            <a href="http://vcgl.jacobs-university.de/">VCGL Research Group</a> at Jacobs University Bremen,
            under supervision of <a href="www.faculty.jacobs-university.de/llinsen/">Prof. Dr. Lars Linsen</a>.</p>
          <p>My research and work mainly focus on Computer Graphics and Image Processing. My focus languages are C++ and Directx. </p>
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
