---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="light blue smaller freestyle01">
    <div id="layout">
      {% include header.html %}

      <div class="row">
        {% include menu.html %}

        <div class="collist c10">
          <ul>
            <li>Peter Baumann and Dimitar Misev. <strong>Science SQL</strong>. In <i>Conference on Big Data from Space, BiDS '14, Frascati, Italy, November 12-14, 2014</i>.</li>
            <li>Dimitar Misev and Peter Baumann. <strong>Extending the SQL Array Concept to Support Scientific Analytics</strong>. In <i>Conference on Scientific and Statistical Database Management, SSDBM '14, Aalborg, Denmark, June 30 - July 02, 2014</i>. ACM, 2014.</li>
            <li>Peter Baumann, Jinsongdi Yu, Dimitar Misev, Kinga Lipskoch, Alan Beccati, and Piero Campalani. <i>Geographical Information Systems: Trends and Technologies</i>, chapter <strong>Preparing Array Analytics the Data Tsunami</strong>. CRC Press, 2014.</li>
            <li>Piero Campalani, Dimitar Misev, Alan Beccati, Peter Baumann. <strong>Making Time Just Another Axis in Geospatial Services</strong>. <i>20th International Symposium on Temporal Representation and Reasoning (TIME)</i>; 09/2013.</li>
            <li>Peter Baumann, Alex Dumitru, Vlad Merticariu, Dimitar Misev, and Mihaela Rusu. <strong>Breaking the big data barrier by enhancing on-board sensor flexibility</strong>. In <i>Proceedings of the 2nd ACM SIGSPATIAL International Workshop on Analytics for Big Geospatial Data (BigSpatial '13)</i>. ACM, New York, NY, USA, 32-36, 2013.</li>
            <li>J.H.P. Oosthoek, J. Flahaut, A.P. Rossi, P. Baumann, D. Misev, P. Campalani, and V. Unnithan. <strong>PlanetServer: Innovative Approaches for the Online Analysis of Hyperspectral Satellite Data from Mars</strong>. <i>Advances in Space Research</i>, 2013.</li>
            <li>Dimitar Misev. <strong>Sorting in Multi-dimensional Databases</strong>. Master's Thesis. Computer Science, Jacobs University, Bremen, 2012.</li>
            <li>Peter Baumann, Piero Campalani, Dimitar Misev, Jinsongdi Yu. <strong>Finding My CRS: A Systematic Way of Identifying CRSs</strong>. In <i>ACM SIGSPATIAL GIS</i>, November 2012, pp. 71--78.</li>
            <li>Peter Baumann and Dimitar Misev. <strong>Towards Scalable Ad-Hoc Climate Anomalies Search</strong>. In <i>Proceedings of the 1st ACM SIGSPATIAL International Workshop on Analytics for Big Geospatial Data</i>, BigSpatial '12, pages 101--110, New York, NY, USA, 2012. ACM.</li>
            <li>Dimitar Misev, Peter Baumann, and Jürgen Seib. <strong>Towards Large-Scale Meteorological Data Services: A Case Study</strong>. <i>Datenbank-Spektrum</i>, 12(3):183--192, 2012.</li>
            <li>Dimitar Misev, Mihaela Rusu, Peter Baumann. <strong>A Semantic Resolver for Coordinate Reference Systems</strong>. <i>Web and Wireless Geographical Information Systems - 11th International Symposium</i>, W2GIS 2012, Naples, Italy, April 12-13, 2012.</li>
            <li>Dimitar Misev. <strong>Integrating SUMO and OMDoc</strong>. Bachelor's Thesis. Computer Science, Jacobs University, Bremen, 2010.</li>
            <li>Heinrich Stamerjohanns, Deyan Ginev, Catalin David, Dimitar Misev, Vladimir Zamdzhiev, Michael Kohlhase. <strong>MathML-aware article conversion from LaTeX, A comparison study</strong>; in Petr Sojka, ed. <i>Towards Digital Mathematics Library, DML 2009 workshop</i>, Masaryk University, Brno, 2009., 2009.</li>
          </ul>
        </div>
      </div>

      {% include footer.html %}
    </div>
    </div>
  </body>
</html>
