<div id="footer" class="row">
        <div class="col c12 aligncenter">
          <h3> <a target="_blank" href="https://github.com/misev"><aBig>Git</aBig></a>
             &nbsp; | &nbsp; <a target="_blank" href="https://www.linkedin.com/pub/andra-pascale/1b/b95/753"><aBig>Linkedin</aBig></a>
             &nbsp; | &nbsp; <a target="_blank" href="https://www.openhub.net/accounts/misev"><aBig>Open Hub</aBig></a>
             &nbsp; | &nbsp; <a target="_blank" href="http://www.researchgate.net/profile/Dimitar_Misev"><aBig>ResearchGate</aBig></a>
          </h3>
          <p>&copy; 2014 Andra Pascale. <a href="http://andreasviklund.com/templates/origo/">Template design</a> by <a href="http://andreasviklund.com/">Andreas Viklund</a><br /></p>
        </div>
      </div>