    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Andra Pascale's Homepage" />
    <meta name="keywords" content="Andra Pascale, computer graphics, directx, 3D modelling, deformable objects, c++/mda" />
    <meta name="author" content="Andra Pascale" />
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="origo.css" title="Origo" media="all" />
    <title>Andra Pascale</title>